html,
body {
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
}
.booklist {
  width: 50%;
  background: lightgray;
  border: 2px solid black;
}
.booklist td {
  border: 1px dotted black;
  width: 50%;
}
.book_description_hide_show_tr {
  font-weight: bold;
  font-family: arial;
}
.book_description_hide_show_tr td {
  padding-left: 5px;
}
.rent_button {
  text-align: right;
  border-bottom: 1px black solid;
  padding-right: 5px;
}
.booklist_title_tr {
  text-align: center;
  font-size: 12pt;
  font-weight: bold;
  background: darkgray;
  color: white;
}
.booklist_title_tr td {
  border: 1px solid white;
}
.book_description_td {
  background: white;
  padding: 5px;
  padding-left: 10px;
  font-family: tahoma;
}
A {
  text-decoration: none;
  color: #ffffff;
}
A:hover {
  text-decoration: none;
  color: #c39118;
}
#logoheader {
  color: #cccc00;
}
.bulb img {
  height: 18px;
  vertical-align: bottom;
}
.error {
  color: red;
  font-family: arial;
  font-size: 10pt;
}
#container {
  border: 2px solid #cccc00;
  background-color: #9999cc;
  position: relative;
  left: 5%;
  width: 90%;
  height: 100%;
}
#menu {
  position: relative;
  float: right;
  height: 100%;
  width: 20%;
  border-left: 2px solid #cccc00;
  padding-left: 15px;
  padding-top: 15px;
  background-color: black;
  color: white;
}
#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 18px;
  background-color: green;
  clear: both;
  text-align: right;
  padding-right: 10px;
}
#content {
  position: relative;
  height: 100%;
  width: 78%;
  float: left;
  background-color: white;
}
#logo {
  width: 100%;
  position: static;
  height: 40px;
  text-align: center;
}
